* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0;
    margin-bottom: 56px;
    background-color: rgb(0, 88, 197);
    color: #fff;
    font-weight: bold;
}

h1 {
    font-style: italic;
}

header .container li {
    display: inline;
    margin-left: 16px;
    list-style: none;
}

header .container li a {
    text-decoration: none;
    color: #fff;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

h2 {
    padding-bottom: 16px;
    color:rgb(0, 88, 197);
    border-bottom: 2px solid rgb(0, 88, 197);
    font-style: italic;
    margin-bottom: 24px;
}

section {
    margin-bottom: 100px;
}

.produto ul {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 ;
}

.produto li{
    max-width: 24%;
    list-style: none;
}

.produto li img {
    max-width: 100%;
}

.produto li h3,.produto li p {
    padding: 16px 0;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: rgb(0, 88, 197);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 80%;
    }

    #sobre-a-loja div {
        display: block;
    }

    #sobre-a-loja img {
        margin-bottom: 16px;
        max-width: 100%;
    }

    .produto ul {
        display: block;
    }

    .produto li {
        max-width: 100%;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    #sobre-a-loja div {
        display: block;
    }

    #sobre-a-loja img {
        margin-bottom: 16px;
        max-width: 100%;
    }

    .produto ul {
        display: grid;
        grid-template-columns: repeat(2,49%);
    }

    .produto ul li {
        max-width: 100%;
    }
}